/* Navbar container */
.navbar {
  margin-top: -6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 30px;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-left .nav-logo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 40px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/* Right side buttons */
.navbar-right {
  display: flex;
  gap: 100px;        
}

/* Navbar buttons */
.navbar-right .nav-btn,
.navbar-right .nav-link,
.navbar-right .nav-logo {
  background-color: #ffffff;   
  color: #000000;              
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  text-decoration: none;    
  transition: background-color 0.2s;
}

.navbar-right .nav-btn:hover,
.navbar-right .nav-link:hover,
.navbar-right .nav-logo:hover {
  color: #444; 
  background-color: transparent; 
}



@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
  }

  .navbar-left {
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-logo {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
  }

  .navbar-right {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .navbar-right .nav-btn,
  .navbar-right .nav-link,
  .navbar-right .nav-logo {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 12px;
  }
}